

<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Todas las Peliculas'}) %>

<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<br></br><br></br><br></br><br></br><br></br><br></br><br><br>

	<div class="container products-wrapper">
		<div class="row">
			<h2 >Nuestras Peliculas</h2>
			<div class="col-12">
				
            </div>
                <ul>
		 	<!--Para que me repita este maquetado tantas veces como productos tenga-->
			        <% for(i=0; i< movies.length ; i++){%>
				        <li>
						<!--para que cuando hago click en un producto me lleve al detalle: <%movies[i].id %>"-->
						<a href="/movies/<%= movies[i].id %>">
						<h5><%=movies[i].title %></h5>
						</a>		
				        </li>
			        <%  } %>
            	</ul>
		
		</div>
	</div>
	
	<!-- footer -->
	<%- include('partials/footer') %>
	
</body>	
</html>